@layer components {
    .section-padding {
        @apply pt-section-desktop max-lg:pt-section-tablet max-md:pt-section-mobile;
    }

    .section-isolate {
        @apply relative isolate;
    }

    .section-margin {
        @apply mt-section-desktop max-lg:mt-section-tablet max-md:mt-section-mobile;

    }

    .bottom-oval {
        @apply pointer-events-none absolute left-1/2 z-20 -translate-x-1/2 rounded-[50%] bg-white;
        @apply -bottom-82.5 h-117.5 w-[118vw];
        @apply max-2xl:-bottom-77.5 max-2xl:h-100 max-2xl:w-[118vw];
        @apply max-lg:-bottom-55 max-lg:h-80 max-lg:w-[125vw];
        @apply max-sm:-bottom-41.25 max-sm:h-61.25 max-sm:w-[137vw];
    }

    .top-oval {
        @apply pointer-events-none absolute left-1/2 z-0 -translate-x-1/2 rounded-[50%] bg-white;
        @apply -top-82.5 h-117.5 w-[118vw];
        @apply max-2xl:-top-77.5 max-2xl:h-100 max-2xl:w-[118vw];
        @apply max-lg:-top-55 max-lg:h-80 max-lg:w-[125vw];
        @apply max-sm:-top-41.25 max-sm:h-61.25 max-sm:w-[137vw];
    }

    .btn-cta {
        @apply relative isolate z-1 inline-flex h-12 items-center justify-center bg-transparent px-6;
        @apply text-base font-semibold leading-6 text-white;
        transition:
            transform 150ms ease,
            filter 150ms ease;

        &::before,
        &::after {
            content: '';
            @apply absolute inset-y-0 bg-c-orange;
            transition: filter 150ms ease;
        }

        &::before {
            @apply left-0 right-1.5 -z-1 rounded-l-lg;
        }

        &::after {
            @apply -z-2 right-0 w-5 rounded-r-lg;
            transform: skewX(-16deg);
            transform-origin: bottom;
        }

        &:hover {
            @apply -translate-y-0.5;
            filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.1));
        }

        &:hover::before,
        &:hover::after {
            filter: brightness(1.1);
        }

        &:active {
            transform: translateY(0) scale(0.98);
            filter: none;
        }
    }

    .page-container {
        @apply mx-auto w-full max-w-380 px-6;
    }

    .link-arrow,
    .link-arrow-orange {
        @apply flex items-center gap-1.5 font-semibold;
        svg {
            @apply size-4 transition-transform;
        }

        &:hover svg {
            @apply translate-x-1;
        }
    }

    .link-arrow {
        @apply text-c-teal;
    }

    .link-arrow-orange {
        @apply text-c-orange;
    }
}
