@layer components {
    .section-spacing {
        padding-block: var(--spacing-section-desktop);

        @media (width < 64rem) {
            padding-block: var(--spacing-section-tablet);
        }

        @media (width < 48rem) {
            padding-block: var(--spacing-section-mobile);
        }
    }

    .btn-cta {
        @apply relative isolate z-1 inline-flex h-12 items-center justify-center bg-transparent px-6;
        @apply text-base font-semibold leading-6 text-white;
        transition:
            transform 150ms ease,
            filter 150ms ease;

        &::before,
        &::after {
            content: '';
            @apply absolute inset-y-0 bg-c-orange;
            transition: filter 150ms ease;
        }

        &::before {
            @apply left-0 right-1.5 -z-1 rounded-l-lg;
        }

        &::after {
            @apply -z-2 right-0 w-5 rounded-r-lg;
            transform: skewX(-16deg);
            transform-origin: bottom;
        }

        &:hover {
            @apply -translate-y-0.5;
            filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.1));
        }

        &:hover::before,
        &:hover::after {
            filter: brightness(1.1);
        }

        &:active {
            transform: translateY(0) scale(0.98);
            filter: none;
        }
    }
}
